In [32]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [50]:
data = pd.ExcelFile('/home/romain/Bureau/Shadow_corrige.xls')

In [51]:
data.sheet_names

['Feuille1', 'Table dynamique']

In [52]:
df = data.parse('Feuille1')

In [53]:
df.head()

,1-ID_Sujet,2-Essai,3-Date,4-Heure,5-Nom_Ombre,6-Nom_Objet,7-Temps_Reaction,8-Temps_Deplacement,9-Temps_Total,10-Couleur
0,1,1,14-Feb-2017,09:27:26,absente,Pomme,0.523605,1.012345,1.535949,noire
1,1,2,14-Feb-2017,09:27:26,absente,Dévidoir,0.486128,1.171291,1.657419,noire
2,1,3,14-Feb-2017,09:27:26,inverse,Souris,0.470516,1.103335,1.573851,noire
3,1,4,14-Feb-2017,09:27:26,inverse,Oiseau,0.486586,1.354944,1.841531,noire
4,1,5,14-Feb-2017,09:27:26,Souris,Oiseau,0.426709,1.150893,1.577602,noire

In [54]:
df = df.drop(df.columns[[0, 1, 2, 3, 5, 6, 7, 9]], axis = 1)
df

     5-Nom_Ombre  9-Temps_Total
0        absente       1.535949
1        absente       1.657419
2        inverse       1.573851
3        inverse       1.841531
4         Souris       1.577602
5         Souris       1.531415
6        absente       1.611101
7        absente       1.516467
8         normal       1.564420
9        inverse       1.512501
10       inverse       1.344366
11        normal       1.463022
12        normal       1.541265
13       absente       1.595173
14       inverse       1.764626
15       inverse       1.607727
16       absente       1.626198
17       inverse       1.472316
18       inverse       1.507020
19        Oiseau       1.559278
20        normal       1.653702
21       inverse       1.541201
22       inverse       1.746426
23       absente       1.628271
24        normal       1.630258
25       inverse       1.488695
26       absente       1.504348
27        normal       1.510036
28        normal       1.568972
29      devidoir       1.502695
...          ...            ...
1007       Tasse       1.220877
1008    devidoir       1.338934
1009     inverse       1.364625
1010       Fleur       1.337870
1011     inverse       1.316746
1012      normal       1.309224
1013      normal       1.336701
1014         Mug       1.306285
1015     absente       1.275856
1016     absente       1.277907
1017      normal       1.244259
1018      normal       1.212931
1019     inverse       1.200870
1020      normal       1.229002
1021   Agrafeuse       1.219045
1022     inverse       1.282871
1023      normal       1.107895
1024      normal       1.077641
1025   Agrafeuse       1.257950
1026     absente       1.212658
1027      normal       1.159072
1028     inverse       1.258941
1029      normal       1.149034
1030      Oiseau       1.192142
1031       Pomme       1.206874
1032     absente       1.207952
1033     inverse       1.279783
1034        Chat       1.192740
1035     absente       1.046951
1036     inverse       1.174880

[1037 rows x 2 columns]

In [56]:
df.columns = ['ombre', 'tr']

In [57]:
df.ombre.replace('absente', 0, inplace = True)
df.ombre.replace('normal', 1, inplace = True)
df.ombre.replace('inverse', 2, inplace = True)
df.ombre.replace(['Pomme','Chat','Agrafeuse', 'Oiseau', 'Mug', 'Tasse', 'devidoir', 'Tasse','Souris'], 4, inplace = True)
df.tail()

     ombre        tr
1032     0  1.207952
1033     2  1.279783
1034     4  1.192740
1035     0  1.046951
1036     2  1.174880

In [63]:
df.to_csv('data.csv', sep = ',', index = False)